In [1]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression, LogisticRegression

from doubleml.data import DoubleMLPanelData
from doubleml.did import DoubleMLDIDMulti

In [2]:
dta = pd.read_csv("https://raw.githubusercontent.com/d2cml-ai/csdid/main/data/sim_data.csv")
dta.head()

   G         X  id  cluster  period         Y  treat
0  3 -0.876233   1        5       1  5.562556      1
1  3 -0.876233   1        5       2  4.349213      1
2  3 -0.876233   1        5       3  7.134037      1
3  3 -0.876233   1        5       4  6.243056      1
4  2 -0.873848   2       36       1 -3.659387      1

In [3]:
# set dtype for G to float
dta["G"] = dta["G"].astype(float)
dta.loc[dta["G"] == 0, "G"] = np.inf
dta.head()

     G         X  id  cluster  period         Y  treat
0  3.0 -0.876233   1        5       1  5.562556      1
1  3.0 -0.876233   1        5       2  4.349213      1
2  3.0 -0.876233   1        5       3  7.134037      1
3  3.0 -0.876233   1        5       4  6.243056      1
4  2.0 -0.873848   2       36       1 -3.659387      1

In [6]:
dta['G'].value_counts()

G
4.0    4112
inf    3980
2.0    3924
3.0    3900
Name: count, dtype: int64